/* Ogólne style dla strony */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Nagłówek */
header {
    background-color: #007bff;
    color: white;
    padding: 30px 0;
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

/* Sekcje */
section {
    margin-top: 30px;
}

#zegar {
    font-size: 2.5rem;
    font-weight: bold;
}

#licznik {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff;
}
